
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================ PAGE-COVER ===============-->
<section class="page-cover" id="cover-contact-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Liên Hệ</h1>
                <ul class="breadcrumb">
                    <li><a href="#">Trang Chủ</a></li>
                    <li class="active">Liên Hệ</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->
<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="contact-us" class="innerpage-section-padding">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-5 no-pd-r">
                    <div class="custom-form contact-form">
                        <h3>Liên Hệ</h3>
                        <p>Nếu bạn có thắc mắc hay góp ý nào vui lòng điền vào form dưới đây.</p>
                        <form>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tên" required />
                                <span><i class="fa fa-user"></i></span>
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" required />
                                <span><i class="fa fa-envelope"></i></span>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Địa Chỉ" required />
                                <span><i class="fa fa-info-circle"></i></span>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Nội Dung"></textarea>
                                <span><i class="fa fa-pencil"></i></span>
                            </div>

                            <button class="btn btn-orange btn-block">Gửi</button>
                        </form>
                    </div><!-- end contact-form -->
                </div><!-- end columns -->

                <div class="col-sm-12 col-md-7 no-pd-l">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.648029455159!2d105.77753131461596!3d10.0458751928197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08802fbb365cf%3A0x9fa04bb0541690d4!2zQ8O0bmcgVHkgVG5oaCBUaMawxqFuZyBN4bqhaSBE4buLY2ggVuG7pSBWw6AgUGjDoXQgVHJp4buDbiBUacOqbiBQaG9uZw!5e0!3m2!1svi!2s!4v1650614838271!5m2!1svi!2s" style="margin-left:30px;" allowfullscreen></iframe>
                    </div><!-- end map -->
                </div><!-- end columns -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end contact-us -->
</section><!-- end innerpage-wrapper -->
